Repository ariadne-cps/ariadne, pull requests merged in 2018-10, with the labels that each got.

#250 General cleanup (mostly Python)
  .travis.yml
  python/CMakeLists.txt
  python/source/CMakeLists.txt
  python/source/algebra_module.cpp
  python/source/ariadne_module.cpp
  python/source/calculus_submodule.cpp
  python/source/differentiation_submodule.cpp
  python/source/evolution_submodule.cpp
  python/source/function_submodule.cpp
  python/source/geometry_submodule.cpp
  python/source/graphics_submodule.cpp
  python/source/linear_algebra_submodule.cpp
  python/source/numeric_module.cpp
  python/source/numeric_submodule.cpp
  python/source/optimization_submodule.cpp
  python/source/pybind11.hpp
  python/source/solver_submodule.cpp
  python/source/storage_submodule.cpp
  python/source/symbolic_submodule.cpp
  python/source/system_submodule.cpp
  python/source/utilities.cpp
  python/source/utilities.hpp
  python/tests/CMakeLists.txt
  python/tutorials/tutorial.py
  tests/CMakeLists.txt
  tests/algebra/CMakeLists.txt
  tests/dynamics/CMakeLists.txt
  tests/function/CMakeLists.txt
  tests/geometry/CMakeLists.txt
  tests/geometry/test_affine_sets.cpp
  tests/hybrid/CMakeLists.txt
  tests/hybrid/secondary/CMakeLists.txt
  tests/numeric/CMakeLists.txt
  tests/output/CMakeLists.txt
  tests/solvers/CMakeLists.txt
  tests/symbolic/CMakeLists.txt
Labels: python

#244 Hybrid evolver cleanup of the output
  source/hybrid/hybrid_evolver.cpp
Labels: hybrid

#265 Minor cleanup of Expression and related classes
  source/symbolic/assignment.hpp
  source/symbolic/constant.hpp
  source/symbolic/expression.cpp
  source/symbolic/expression.hpp
  source/symbolic/expression.tpl.hpp
  source/symbolic/operations.hpp
  source/symbolic/variables.hpp
Labels: symbolic

#272 Cleanup of the DI code
  examples/noisy/noisy-benchmark.cpp
  examples/noisy/noisy-utilities.hpp
  source/dynamics/differential_inclusion.cpp
  source/dynamics/differential_inclusion.hpp
  tests/dynamics/test_differential_inclusion.cpp
Labels: dynamics

#205 Implemented Bounder and related tests
  source/dynamics/differential_inclusion.cpp
  source/dynamics/differential_inclusion.hpp
  source/geometry/box.hpp
  source/geometry/box.tpl.hpp
  source/solvers/CMakeLists.txt
  source/solvers/bounder.cpp
  source/solvers/bounder.hpp
  source/solvers/integrator.cpp
  source/solvers/integrator.hpp
  tests/dynamics/test_differential_inclusion.cpp
  tests/solvers/CMakeLists.txt
  tests/solvers/test_bounder.cpp
  tests/test.hpp
Labels: enhancement, solvers

#278 Expression nodes counting and related tests
  source/dynamics/differential_inclusion.cpp
  source/symbolic/expression.cpp
  source/symbolic/expression.hpp
  source/symbolic/expression.tpl.hpp
  tests/function/test_taylor_function.cpp
  tests/function/test_taylor_model.cpp
  tests/symbolic/test_expression.cpp
Labels: enhancement, symbolic

#292 Additions to support parameterised and time-dependent integrators
  source/algebra/differential.hpp
  source/algebra/differential.tpl.hpp
  source/algebra/expansion.tpl.hpp
  source/algebra/range.hpp
  source/algebra/slice.hpp
  source/algebra/vector.hpp
  source/dynamics/differential_inclusion.cpp
  source/function/function_model.hpp
  source/function/function_model_interface.hpp
  source/function/function_model_mixin.hpp
  source/function/scaled_function_patch.hpp
  source/function/scaled_function_patch.tpl.hpp
  source/function/scaling.hpp
  source/geometry/box.hpp
  source/geometry/interval.hpp
  source/solvers/bounder.cpp
  source/solvers/bounder.hpp
  source/solvers/integrator.cpp
  source/solvers/integrator.hpp
  source/solvers/integrator_interface.hpp
  tests/solvers/test_bounder.cpp
  tests/solvers/test_integrator.cpp
Labels: solvers
